.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 40px;
}

.heading {
  color: #000;
  font-size: 2.5rem;
  font-weight: 500;
}

.search-box {
  height: 2rem;
  width: 30%;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  padding: 8px;
  color: #000;
  background-color: #f1f5f9;
}

.destination-items-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 37px;
  margin-left: 0px;
}
